@import "tailwindcss";



@font-face {
    font-family: font1;
    src: url(../public/Fonts/Lausanne-300.woff2);
}

@font-face {
    font-family: font2;
    src: url(../public/Fonts/Lausanne-500.woff2);
}


@font-face {
    font-family: font3;
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Croissant+One&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Emilys+Candy&family=Instrument+Serif:ital@0;1&family=PT+Serif+Caption&family=Pattaya&family=Pinyon+Script&family=Spline+Sans:wght@300..700&family=UnifrakturMaguntia&family=Vollkorn:ital,wght@0,800;1,800&family=WDXL+Lubrifont+SC&display=swap');;
}


*{
    user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}




.movelink {
    opacity: 0;
    transition: all ease-in 0.3s;
}

.Link:hover .movelink {
    opacity: 1;
}

.moveX {
    animation: MoveAnimation 10s linear infinite;
}

@keyframes MoveAnimation {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

#fullnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999 !important;
}